In [1]:
import numpy as np
import pandas as pd

In [4]:
crime_raw_data = pd.read_csv('../data2/02. crime_in_Seoul.csv', thousands = ',', encoding = 'euc-kr')
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [5]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [6]:
crime_raw_data['죄종'].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

In [12]:
crime_raw_data[crime_raw_data['죄종'].isnull()]

        구분   죄종 발생검거  건수
310    NaN  NaN  NaN NaN
311    NaN  NaN  NaN NaN
312    NaN  NaN  NaN NaN
313    NaN  NaN  NaN NaN
314    NaN  NaN  NaN NaN
...    ...  ...  ...  ..
65529  NaN  NaN  NaN NaN
65530  NaN  NaN  NaN NaN
65531  NaN  NaN  NaN NaN
65532  NaN  NaN  NaN NaN
65533  NaN  NaN  NaN NaN

[65224 rows x 4 columns]

In [15]:
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]

In [16]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [18]:
crime_raw_data.head(), crime_raw_data.tail()

(   구분  죄종 발생검거     건수
 0  중부  살인   발생    2.0
 1  중부  살인   검거    2.0
 2  중부  강도   발생    3.0
 3  중부  강도   검거    3.0
 4  중부  강간   발생  141.0,
      구분  죄종 발생검거      건수
 305  수서  강간   검거   144.0
 306  수서  절도   발생  1149.0
 307  수서  절도   검거   789.0
 308  수서  폭력   발생  1666.0
 309  수서  폭력   검거  1431.0)