In [1]:
import googlemaps
gmaps_key=input()
gmaps = googlemaps.Client(key=gmaps_key)

## 좌표와 주소가 필요함.

In [2]:
tmp=gmaps.geocode('서울영등포경찰서', language='ko')

In [9]:
tmp[0].get('geometry')['location']          # 좌표
lat = tmp[0].get('geometry')['location']['lat']
lng = tmp[0].get('geometry')['location']['lng']

print(lat, lng)

37.5260441 126.9008091

In [8]:
tmp[0].get('formatted_address')             # 주소

'대한민국 서울특별시 영등포구 국회대로 608'

In [11]:
tmp[0].get('formatted_address').split()[2]

'영등포구'

---
# 데이터 가져오기

In [12]:
import pandas as pd
import numpy as np

crime_raw_data = pd.read_csv('../data2/02. crime_in_Seoul.csv', thousands=',', encoding='euc-kr')
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, 
    index='구분', 
    columns=['죄종','발생검거'], 
    aggfunc=[np.sum]
)
crime_station.columns=crime_station.columns.droplevel([0,1])
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

---
# crime_station 에 새로운 컬럼 데이터 넣기

In [15]:
crime_station['구별'] = np.nan
crime_station['lat'] = np.nan
crime_station['lng'] = np.nan

In [16]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력          구별  \
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0 NaN
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0 NaN
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0 NaN
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0 NaN
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0 NaN

죄종   lat lng
발생검거
구분
강남   NaN NaN
강동   NaN NaN
강북   NaN NaN
강서   NaN NaN
관악   NaN NaN

- 경찰서 이름 위에서 소속된 구 이름 얻기
- 구 이름과 위도 경도 정보를 저장할 준비
- 반복문을 이용해서 위 표의 NaN을 모두 채워주기
- iterrows() 함수 사용하기

In [19]:
count=0

for idx, rows in crime_station.iterrows():
    # print(idx)
    station_name = '서울' + str(idx) + '경찰서'
    # print(station_name)
    tmp = gmaps.geocode(station_name, language='ko')

    tmp_gu = tmp[0].get('formatted_address')
    lat = tmp[0].get('geometry')['location']['lat']
    lng = tmp[0].get('geometry')['location']['lng']

    crime_station.loc[idx, 'lat'] = lat
    crime_station.loc[idx, 'lng'] = lng
    crime_station.loc[idx, '구별'] = tmp_gu.split()[2]

    print(count)
    count = count  + 1

서울강남경찰서
서울강동경찰서
서울강북경찰서
서울강서경찰서
서울관악경찰서
서울광진경찰서
서울구로경찰서
서울금천경찰서
서울남대문경찰서
서울노원경찰서
서울도봉경찰서
서울동대문경찰서
서울동작경찰서
서울마포경찰서
서울방배경찰서
서울서대문경찰서
서울서부경찰서
서울서초경찰서
서울성동경찰서
서울성북경찰서
서울송파경찰서
서울수서경찰서
서울양천경찰서
서울영등포경찰서
서울용산경찰서
서울은평경찰서
서울종로경찰서
서울종암경찰서
서울중랑경찰서
서울중부경찰서
서울혜화경찰서

In [20]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력          구별  \
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0 NaN
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0 NaN
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0 NaN
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0 NaN
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0 NaN

죄종   lat lng
발생검거
구분
강남   NaN NaN
강동   NaN NaN
강북   NaN NaN
강서   NaN NaN
관악   NaN NaN

---
# df 의 column 정리하기

In [24]:
tmp = [
    crime_station.columns.get_level_values(0)[n] + crime_station.columns.get_level_values(1)[n]
    for n in range(0, len(crime_station.columns.get_level_values(0)))
]       # list comprehence
tmp

['강간검거',
 '강간발생',
 '강도검거',
 '강도발생',
 '살인검거',
 '살인발생',
 '절도검거',
 '절도발생',
 '폭력검거',
 '폭력발생',
 '구별',
 'lat',
 'lng']

In [25]:
tmp, len(tmp), len(crime_station.columns.get_level_values(0))

(['강간검거',
  '강간발생',
  '강도검거',
  '강도발생',
  '살인검거',
  '살인발생',
  '절도검거',
  '절도발생',
  '폭력검거',
  '폭력발생',
  '구별',
  'lat',
  'lng'],
 13,
 13)

In [26]:
crime_station.columns = tmp

In [27]:
crime_station.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
구분,,,,,,,,,,,,,
강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,NaN,NaN,NaN
강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,NaN,NaN,NaN
강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,NaN,NaN,NaN
강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,NaN,NaN,NaN
관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,NaN,NaN,NaN

In [28]:
# 데이터 저장
# crime_station.to_csv('../data2/02. crime_in_Seoul_raw.csv', sep=',', encoding='utf-8')

In [30]:
pd.read_csv('../data2/02. crime_in_Seoul_raw.csv')

,구분,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
0,강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구,37.509435,127.066958
1,강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구,37.528511,127.126822
2,강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구,37.637388,127.027324
3,강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,양천구,37.539783,126.829997
4,관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구,37.474379,126.950975
5,광진,234.0,279.0,6.0,11.0,4.0,4.0,1057.0,2636.0,2011.0,2392.0,광진구,37.542873,127.083821
6,구로,181.0,273.0,13.0,10.0,9.0,9.0,861.0,1910.0,2680.0,3164.0,구로구,37.494931,126.886731
7,금천,143.0,175.0,7.0,7.0,6.0,6.0,654.0,1264.0,1946.0,2193.0,관악구,37.481405,126.909951
8,남대문,52.0,57.0,4.0,5.0,1.0,1.0,429.0,946.0,832.0,890.0,중구,37.554758,126.973498
9,노원,142.0,159.0,9.0,6.0,6.0,5.0,740.0,1857.0,2124.0,2516.0,노원구,37.642361,127.071403
10,도봉,121.0,123.0,5.0,5.0,3.0,3.0,492.0,866.0,1309.0,1441.0,도봉구,37.653359,127.052682
11,동대문,158.0,190.0,12.0,10.0,5.0,5.0,1071.0,1940.0,2377.0,2642.0,동대문구,37.585061,127.045768
12,동작,149.0,325.0,7.0,7.0,6.0,8.0,554.0,1226.0,1444.0,1661.0,동작구,37.513069,126.942808
13,마포,320.0,399.0,7.0,4.0,4.0,4.0,940.0,2527.0,2500.0,2939.0,마포구,37.550814,126.954028
14,방배,51.0,78.0,5.0,4.0,1.0,1.0,293.0,472.0,446.0,500.0,서초구,37.481545,126.982999
15,서대문,147.0,175.0,4.0,5.0,7.0,6.0,752.0,1503.0,1644.0,1976.0,서대문구,37.564785,126.966776
16,서부,49.0,54.0,2.0,4.0,4.0,4.0,389.0,781.0,980.0,1128.0,은평구,37.602140,126.921307
17,서초,220.0,350.0,5.0,9.0,4.0,4.0,814.0,1733.0,1583.0,1838.0,서초구,37.495605,127.005250
18,성동,78.0,104.0,5.0,3.0,5.0,4.0,896.0,1296.0,1408.0,1619.0,성동구,37.561731,127.036381
19,성북,75.0,103.0,3.0,3.0,2.0,2.0,381.0,790.0,1004.0,1176.0,성북구,37.589727,127.016132
20,송파,184.0,234.0,12.0,15.0,8.0,9.0,1048.0,2543.0,2808.0,3289.0,송파구,37.501906,127.127151
21,수서,144.0,177.0,16.0,15.0,2.0,2.0,789.0,1149.0,1431.0,1666.0,강남구,37.493490,127.077212
22,양천,108.0,131.0,7.0,7.0,5.0,5.0,755.0,1719.0,1918.0,2250.0,양천구,37.516567,126.865676
23,영등포,225.0,356.0,14.0,19.0,13.0,13.0,940.0,2341.0,3007.0,3593.0,영등포구,37.525788,126.901006
24,용산,214.0,251.0,10.0,9.0,4.0,4.0,599.0,1489.0,2008.0,2384.0,용산구,37.541121,126.967693
25,은평,93.0,102.0,5.0,5.0,2.0,2.0,501.0,885.0,1328.0,1536.0,은평구,37.628360,126.928723
26,종로,113.0,137.0,3.0,6.0,0.0,4.0,389.0,952.0,1135.0,1291.0,종로구,37.575558,126.984867
27,종암,42.0,51.0,5.0,5.0,1.0,2.0,344.0,680.0,815.0,932.0,성북구,37.602059,127.032158
28,중랑,150.0,164.0,14.0,14.0,7.0,8.0,1052.0,1691.0,2712.0,3164.0,중랑구,37.618692,127.104714
29,중부,96.0,141.0,3.0,3.0,2.0,2.0,485.0,1204.0,1164.0,1335.0,중구,37.563646,126.989580
30,혜화,64.0,101.0,6.0,6.0,2.0,2.0,379.0,988.0,842.0,972.0,종로구,37.571840,126.998856