# url 정보를 따라 50개 페이지 각각의 가격과 주소를 가져와야한다.

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

import pandas as pd

In [40]:
df = pd.read_csv('../data_web_data/03. best_sandwiches_list_chicago_user.csv', index_col=0)
df.head()

,Rank,Cafe,Menu,URL
0,1,Old Oak Tap,BLT,http://www.chicagomag.com/Chicago-Magazine/Nov...
1,2,Au Cheval,Fried Bologna,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,3,Xoco,Woodland Mushroom,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,4,Al’s Deli,Roast Beef,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,5,Publican Quality Meats,PB&L,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [41]:
print(df['URL'][0])

http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/

In [8]:
#post-11773 > div.grid-container.grid-parent.article-wrap > div.grid-12.prefix-1.tablet-grid-14.tablet-prefix-0.suffix-1.mobile-grid-100.mobile-prefix-0.mobile-suffix-0 > div.article-body > p.addy > em
from urllib.request import Request
req = Request(df['URL'][0], headers={'User-Agent':'Chrome'})
html = urlopen(req).read()

soup_tmp = BeautifulSoup(html, 'html.parser')

In [11]:
print(soup_tmp.find('p','addy'))

<p class="addy">
<em>$10. 2109 W. Chicago Ave., 773-772-0406, <a href="http://www.theoldoaktap.com/">theoldoaktap.com</a></em></p>

In [12]:
price_tmp = soup_tmp.find('p', 'addy').get_text()
price_tmp

'\n$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [13]:
import re
re.split('.,', price_tmp)

['\n$10. 2109 W. Chicago Ave', ' 773-772-040', ' theoldoaktap.com']

In [14]:
price_tmp = re.split('.,', price_tmp)[0]
price_tmp

'\n$10. 2109 W. Chicago Ave'

In [18]:
re.search('\$\d+\.(\d+)?', price_tmp).group()       # 가격 조회

'$10.'

In [19]:
tmp = re.search('\$\d+\.(\d+)?', price_tmp).group()
price_tmp[len(tmp) + 2:]        # 가격이 끝나는 지점의 위치를 이용해서 그 뒤는 주소로 생각

'2109 W. Chicago Ave'

---

In [26]:
price = []
address = []

for n in df.index[:3]:
    req = Request(df['URL'][n], headers={'User-Agent':'Chrome'})
    html = urlopen(req).read()

    soup_tmp = BeautifulSoup(html,'html.parser')
    gettings = soup_tmp.find('p', 'addy').get_text()

    price_tmp = re.split('.,', gettings)[0]
    tmp = re.search('\$\d+\.(\d+)?', price_tmp).group()

    price.append(tmp)
    address.append(price_tmp[len(tmp) + 2:])

    print(n)

0
1
2

In [27]:
price, address

(['$10.', '$9.', '$9.50'],
 ['2109 W. Chicago Ave', '800 W. Randolph St', ' 445 N. Clark St'])

In [28]:
price = []
address = []

for idx, rows in df[:3].iterrows():
    req = Request(rows['URL'], headers={'User-Agent':'Chrome'})
    html = urlopen(req).read()

    soup_tmp = BeautifulSoup(html,'html.parser')        # lxml을 사용하게 될수도 있다.
    gettings = soup_tmp.find('p', 'addy').get_text()

    price_tmp = re.split('.,', gettings)[0]
    tmp = re.search('\$\d+\.(\d+)?', price_tmp).group()

    price.append(tmp)
    address.append(price_tmp[len(tmp) + 2:])

    print(idx)

0
1
2

In [29]:
price, address

(['$10.', '$9.', '$9.50'],
 ['2109 W. Chicago Ave', '800 W. Randolph St', ' 445 N. Clark St'])

In [31]:
from tqdm import tqdm

price = []
address = []

for idx, row in tqdm(df.iterrows()):
    # html = urlopen(row['URL'])
    req = Request(row['URL'], headers={'User-Agent':'Chrome'})
    html = urlopen(req).read()

    soup_tmp = BeautifulSoup(html, 'html.parser')

    gettings = soup_tmp.find('p','addy').get_text()

    price_tmp = re.split('.,', gettings)[0]
    tmp = re.search('\$\d+\.(\d+)?', price_tmp).group()

    price.append(tmp)
    address.append(price_tmp[len(tmp) + 2 :])

50it [02:30,  3.01s/it]

In [33]:
len(price), len(address)

(50, 50)

In [34]:
df['Price'] = price
df['Address'] = address

In [35]:
df.head()

,Rank,Cafe,Menu,URL,Price,Address
0,1,Old Oak Tap,BLT,http://www.chicagomag.com/Chicago-Magazine/Nov...,$10.,2109 W. Chicago Ave
1,2,Au Cheval,Fried Bologna,http://www.chicagomag.com/Chicago-Magazine/Nov...,$9.,800 W. Randolph St
2,3,Xoco,Woodland Mushroom,http://www.chicagomag.com/Chicago-Magazine/Nov...,$9.50,445 N. Clark St
3,4,Al’s Deli,Roast Beef,http://www.chicagomag.com/Chicago-Magazine/Nov...,$9.40,914 Noyes St
4,5,Publican Quality Meats,PB&L,http://www.chicagomag.com/Chicago-Magazine/Nov...,$10.,825 W. Fulton Mkt

In [36]:
df = df.loc[:, ['Rank', 'Cafe', 'Menu', 'Price', 'Address']]
df.set_index('Rank', inplace=True)
df.head()

                        Cafe               Menu  Price              Address
Rank
1                Old Oak Tap                BLT   $10.  2109 W. Chicago Ave
2                  Au Cheval      Fried Bologna    $9.   800 W. Randolph St
3                       Xoco  Woodland Mushroom  $9.50      445 N. Clark St
4                  Al’s Deli         Roast Beef  $9.40         914 Noyes St
5     Publican Quality Meats               PB&L   $10.    825 W. Fulton Mkt

In [37]:
df.to_csv('../data_web_data/03. best_sandwiches_list_chicago_user2.csv', sep=',', encoding='utf-8')

In [38]:
df

,Cafe,Menu,Price,Address
Rank,,,,
1,Old Oak Tap,BLT,$10.,2109 W. Chicago Ave
2,Au Cheval,Fried Bologna,$9.,800 W. Randolph St
3,Xoco,Woodland Mushroom,$9.50,445 N. Clark St
4,Al’s Deli,Roast Beef,$9.40,914 Noyes St
5,Publican Quality Meats,PB&L,$10.,825 W. Fulton Mkt
6,Hendrickx Belgian Bread Crafter,Belgian Chicken Curry Salad,$7.25,100 E. Walton St
7,Acadia,Lobster Roll,$16.,1639 S. Wabash Ave
8,Birchwood Kitchen,Smoked Salmon Salad,$10.,2211 W. North Ave
9,Cemitas Puebla,Atomica Cemitas,$9.,3619 W. North Ave
10,Nana,Grilled Laughing Bird Shrimp and Fried Po’ Boy,$17.,3267 S. Halsted St
11,Lula Cafe,Ham and Raclette Panino,$11.,2537 N. Kedzie Blvd
12,Ricobene’s,Breaded Steak,$5.49,Multiple location
13,Frog n Snail,The Hawkeye,$14.,3124 N. Broadwa
14,Crosby’s Kitchen,Chicken Dip,$10.,3455 N. Southport Ave
15,Longman & Eagle,Wild Boar Sloppy Joe,$13.,2657 N. Kedzie Ave
16,Bari,Meatball Sub,$4.50,1120 W. Grand Ave
17,Manny’s,Corned Beef,$11.95,1141 S. Jefferson St
18,Eggy’s,Turkey Club,$11.50,333 E. Benton Pl
19,Old Jerusalem,Falafel,$6.25,1411 N. Wells St
20,Mindy’s HotChocolate,Crab Cake,$15.,1747 N. Damen Ave
21,Olga’s Delicatessen,Chicken Schnitzel,$5.,3209 W. Irving Park Rd
22,Dawali Mediterranean Kitchen,Shawarma,$6.,Multiple location
23,Big Jones,Toasted Pimiento Cheese,$8.,5347 N. Clark St
24,La Pane,Vegetarian Panino,$5.99,2954 W. Irving Park Rd
25,Pastoral,Cali Chèvre,$7.52,Multiple location
26,Max’s Deli,Pastrami,$11.95,191 Skokie Valley Rd
27,Lucky’s Sandwich Co.,The Fredo,$7.50,Multiple location
28,City Provisions,Smoked Ham,$12.95,1818 W. Wilson Ave
29,Papa’s Cache Sabroso,Jibarito,$7.,2517 W. Division St
30,Bavette’s Bar & Boeuf,Shaved Prime Rib,$21.,218 W. Kinzie St
31,Hannah’s Bretzel,Serrano Ham and Manchego Cheese,$9.79,Multiple location
32,La Fournette,Tuna Salad,$9.75,1547 N. Wells St
33,Paramount Room,Paramount Reuben,$13.,415 N. Milwaukee Ave
34,Melt Sandwich Shoppe,The Istanbul,$7.95,1840 N. Damen Ave
35,Floriole Cafe & Bakery,B.A.D.,$9.,1220 W. Webster Ave
36,First Slice Pie Café,Duck Confit and Mozzarella,$9.,5357 N. Ashland Ave
37,Troquet,Croque Monsieur,$8.,1834 W. Montrose Ave
38,Grahamwich,Green Garbanzo,$8.,615 N. State St
39,Saigon Sisters,The Hen House,$7.,Multiple location
40,Rosalia’s Deli,Tuscan Chicken,$6.,241 N. York Rd
41,Z&H MarketCafe,The Marty,$7.25,1323 E. 57th St
42,Market House on the Square,Whitefish,$11.,655 Forest Ave
43,Elaine’s Coffee Call,"Oat Bread, Pecan Butter, and Fruit Jam",$6.,Hotel Lincol
44,Marion Street Cheese Market,Cauliflower Melt,$9.,100 S. Marion St
45,Cafecito,Cubana,$5.49,26 E. Congress Pkwy
46,Chickpea,Kufta,$8.,2018 W. Chicago Ave
47,The Goddess and Grocer,Debbie’s Egg Salad,$6.50,25 E. Delaware Pl
48,Zenwich,Beef Curry,$7.50,416 N. York St
49,Toni Patisserie,Le Végétarien,$8.75,65 E. Washington St
50,Phoebe’s Bakery,The Gatsby,$6.85,3351 N. Broadwa